<h1>Welcome to the Google Map API project</h1>
<div id="map"></div>

<div id="coordinates">
  <h3>Entrez les coordonnées souhaitées</h3>
  <form>
    <label>Latitude
      <input type="text">
    </label>
    <label>Longitude
      <input type="text">
    </label>
    <br>
    <input type="submit"value="Go !">
  </form>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdOBulDSuI6k6DgJYX7VBjOnTqE5n-cd8&callback=initMap" async defer></script>
